<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">  
    <link rel="manifest" href="/manifest.json"> 
  </head>
  <body>
    <h1>progressive web app demo</h1>
    <p>这是 LeanEngine 的一个pwa 的demo，实现预缓存js／css</p>
    <p>当前时间：<%= currentTime %></p>
    <!--
        <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
    -->
    <script src="/js/service-tool.js"></script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
